<hrh-message color="accent" class="message">
  <div class="monospace formatted">
    <span class="mat-body-strong">URL:</span>
    {{ error.response.url }}
  </div>
  <div class="monospace formatted">
    <span class="mat-body-strong">Status:</span>
    {{ error.response.status }} {{ error.response.statusText }}
  </div>
  <div class="monospace formatted">
    <span class="mat-body-strong">Message:</span>
    {{ error.response.message }}
  </div>
</hrh-message>

<mat-divider></mat-divider>

<div class="monospace formatted">
  <span class="mat-body-strong">Request URL:</span>
  {{ error.request?.urlWithParams }}
</div>
<div class="monospace formatted">
  <div class="mat-body-strong">Request body:</div>
  <div>{{ request }}</div>
</div>

<div class="monospace formatted">
  <div class="mat-body-strong">Response details:</div>
  <div>{{ response }}</div>
</div>
