<hrh-message color="accent">
  <div class="monospace">URL:{{ error.response.url }}</div>
  <div class="monospace">Message: {{ error.response.message }}</div>
  <div class="monospace">Status: {{ error.response.status }} {{ error.response.statusText }}</div>
</hrh-message>

<div class="monospace">Request URL: {{ error.request.urlWithParams }}</div>
<div class="monospace formatted">Requst body: {{ error.request.body | json }}</div>

<div class="monospace formatted">Response details: {{ error.response.error }}</div>
