@import 'src/sass/utils';

.message-container {
  padding-top: 2 * $unit;
  padding-bottom: 2 * $unit;
}

.monospace {
  font-family: Roboto Mono, monospace;
}

.formatted {
  white-space: pre-wrap;
  word-break: break-word;
}

.message {
  margin-top: 2 * $unit;
}

.mat-divider {
  margin-top: 2 * $unit;
  margin-bottom: 2 * $unit;
}
