<mat-form-field [floatLabel]="_floatLabelType" [appearance]="_appearance" [class.readonly]="readonly">
  <mat-label>{{ label }}</mat-label>
  <input
    #input
    matInput
    [ngModel]="_value"
    (ngModelChange)="_valueChange($event)"
    [required]="required"
    [disabled]="_disabled"
    [placeholder]="_placeholder"
    [maxlength]="maxLength"
  />

  <mat-hint *ngIf="showLengthHint" align="end">
    {{ lengthHint }}
  </mat-hint>
  <ng-container matSuffix>
    <ng-content select="[hrhFieldSuffix]"></ng-content>
  </ng-container>
  <mat-error *hrhValidationError="let error of control.errors; by: label">
    {{ error }}
  </mat-error>
</mat-form-field>
