$diameter: 28px;
$width: 2px;

:host {
  display: inline-block;
  position: relative;
  width: $diameter;
  height: $diameter;
}

:host .css-only-disc {
  position: absolute;
  border-width: $width;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  animation: ripple 1.2s ease infinite;
}

:host .css-only-disc:nth-child(2) {
  animation-delay: -0.6s;
}

@keyframes ripple {
  0% {
    top: ($diameter - ($width * 2)) / 2;
    left: ($diameter - ($width * 2)) / 2;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    width: $diameter - ($width * 2);
    height: $diameter - ($width * 2);
    opacity: 0;
  }
}
