@import 'src/sass/utils';

:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.pager-container-top,
.pager-container-bottom {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2 * $unit;
  align-items: center;
  justify-items: center;
  padding: 2 * $unit;
}
