@import 'src/sass/utils';

:host {
  @include small-viewport;
  @include viewport-padding;
  display: grid;
  grid-row-gap: 2 * $unit;
}

.danger-action {
  display: flex;
  align-items: flex-start;

  @include xsmall {
    flex-direction: column;
  }

  .description {
    flex: 1;
  }
}
