<ng-template hrhOnlyBrowser else="spinner">
  <ng-container *ngIf="profile$ | async as profile">
    <ng-container *ngIf="profile.authenticated; else loginTemplate">
      <button mat-icon-button [mat-menu-trigger-for]="menu">
        <hrh-email-avatar [email]="profile.email"></hrh-email-avatar>
      </button>
      <mat-menu #menu="matMenu">
        <ng-container *matMenuContent>
          <a mat-menu-item routerLink="profile" ngPreserveWhitespaces>
            {{ profile.firstName }} {{ profile.lastName }}
          </a>
          <mat-divider></mat-divider>
          <a mat-menu-item routerLink="settings">
            Settings
          </a>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="logout()">Logout</button>
        </ng-container>
      </mat-menu>
    </ng-container>
    <ng-template #loginTemplate>
      <button mat-flat-button (click)="login()" color="accent">Login</button>
    </ng-template>
  </ng-container>
</ng-template>
