<mat-card>
  <mat-card-header hrhColoredDialogHeader color="primary">
    <h1 matCardTitle>Welcome to House Routines Hub</h1>
  </mat-card-header>
  <mat-card-content>
    <hrh-message color="accent">
      <p>You can use on of below demo user accounts for learn how HRH application works</p>
    </hrh-message>

    <mat-list>
      <mat-list-item *ngFor="let cred of demoCreds">
        <div mat-line>
          <span class="can-copy" matTooltip="Username" (click)="copy(cred.username)">{{ cred.username }}</span>
          <span>&nbsp;/&nbsp;</span>
          <span class="can-copy" matTooltip="Password" (click)="copy(cred.password)">{{ cred.password }}</span>
        </div>
        <span mat-line>{{ cred.role }}</span>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header hrhColoredDialogHeader color="primary">
    <h1 matCardTitle>Time Testing</h1>
  </mat-card-header>
  <mat-card-content>
    <p>Just string time local: {{ time | date: 'short' }}</p>
    <p>Just string time tz: {{ time | date: 'short':tz }}</p>
    <br />
    <p>Moment time local: {{ mtime | date: 'short' }}</p>
    <p>Moment time tz: {{ mtime | date: 'short':tz }}</p>
    <p>Moment time format: {{ mtimeformat }}</p>
    <br />
    <p>Moment time tz in moment: {{ mtimetz | date: 'short' }}</p>
    <p>Moment time tz in moment and pipe: {{ mtimetz | date: 'short':tz }}</p>
    <p>Moment time tz in moment format: {{ mtimetzformat }}</p>
  </mat-card-content>
</mat-card>
