@import 'src/sass/utils';

:host {
  @include small-viewport;
  @include viewport-padding;
  display: grid;
  grid-row-gap: 2 * $unit;
}

.can-copy {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
