<ng-container *ngFor="let house of houses$ | async; trackBy: placeholderTrack">
  <a *ngIf="house != undefined; else placeholder" class="house-link" routerLink="/houses/{{ house.id }}">
    <div class="ripple" matRipple></div>
    <hrh-house-card class="house-card" [house]="house"></hrh-house-card>
  </a>
</ng-container>

<ng-template #placeholder>
  <div class="house-link">
    <div class="ripple" matRipple></div>
    <hrh-house-card-placeholder class="house-card"></hrh-house-card-placeholder>
  </div>
</ng-template>

<a class="house-link" routerLink="/houses/new">
  <div class="ripple" matRipple></div>
  <hrh-house-card-placeholder class="house-card" [addNewOverlay]="true"></hrh-house-card-placeholder>
</a>
