@import '~@angular/material/theming';

@mixin colored-dialog-header($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  .mat-card .mat-card-title-group.dialog-colored-header {
    margin: -16px -16px 16px;

    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;

    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    &.mat-primary {
      background-color: mat-color($primary);
      color: mat-color($primary, default-contrast);
    }

    &.mat-accent {
      background-color: mat-color($accent);
      color: mat-color($accent, default-contrast);
    }

    &.mat-warn {
      background-color: mat-color($warn);
      color: mat-color($warn, default-contrast);
    }
  }
}
