@import 'src/sass/utils';

.menu-header {
  display: flex;
  flex-direction: row;
  padding: $unit;

  .heading {
    display: flex;
    flex-direction: row;
    align-items: center;

    .header {
      margin: 0 0 0 $unit;
    }
  }
}

.extended-content {
  margin-left: $unit;
}
