<ng-container *ngIf="house$ | async as house">
  <hrh-side-menu *hrhSideMenuDef="let expanded = expanded" [expanded]="expanded">
    <div class="menu-header">
      <div class="heading">
        <hrh-circle-skeleton [disableAnimation]="true"></hrh-circle-skeleton>
        <h3 *ngIf="expanded" class="header">{{ house.name }}</h3>
      </div>
    </div>

    <mat-nav-list hrhSidenavList>
      <a mat-list-item routerLink="overview" hrhSidenavItem>
        <mat-icon>home</mat-icon>
        <span *hrhSidenavExpandedContent class="extended-content">Overview</span>
      </a>
      <a mat-list-item routerLink="settings" hrhSidenavItem>
        <mat-icon>settings</mat-icon>
        <span *hrhSidenavExpandedContent class="extended-content">Settings</span>
      </a>
    </mat-nav-list>
  </hrh-side-menu>
</ng-container>

<router-outlet></router-outlet>
