<hrh-shell-layout>
  <div hrhShellContent class="viewport">
    <mat-card class="content">
      <mat-card-title-group hrhColoredDialogHeader color="primary">
        <h2 mat-card-title>Loading</h2>
      </mat-card-title-group>

      <mat-card-content class="dialog-content">
        <p>Application loading...</p>

        <mat-spinner class="ssr-spinner"></mat-spinner>

        <p>You'll see requested page in a few seconds</p>
      </mat-card-content>
    </mat-card>
  </div>
</hrh-shell-layout>
