<mat-card>
  <mat-card-header hrhColoredDialogHeader color="warn">
    <h2 mat-card-title>Danger Zone</h2>
  </mat-card-header>
  <mat-card-content>
    <div class="danger-action">
      <div class="description">
        <h3>Delete this house</h3>
        <p>Once you delete a house, there is no going back. Please be certain.</p>
      </div>
      <button class="action" mat-flat-button color="warn" (click)="handleDeleteHouseClick()">
        Delete this house
      </button>
    </div>
  </mat-card-content>
</mat-card>
