@import 'src/sass/utils';

.snackbar {
  margin: -2 * $unit;
  display: grid;
}

.content {
  display: grid;
  grid-template-columns: 1fr auto;
}

.message {
  flex: 1;
}

.actions {
  display: flex;
  align-items: center;
}
