<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button *ngIf="showMenuOpen$ | async" mat-icon-button class="menu-button" (click)="menuOpenChange(true)">
      <mat-icon>menu</mat-icon>
    </button>
    <button *ngIf="showMenuCollapse$ | async" mat-icon-button class="menu-button" (click)="menuCollapseChange(true)">
      <mat-icon class="rotate-icon">unfold_less</mat-icon>
    </button>
    <button *ngIf="showMenuExpand$ | async" mat-icon-button class="menu-button" (click)="menuCollapseChange(false)">
      <mat-icon class="rotate-icon">unfold_more</mat-icon>
    </button>
    <hrh-title></hrh-title>

    <div class="fill"></div>

    <hrh-user-menu></hrh-user-menu>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container [autosize]="true" class="sidebar" (backdropClick)="menuOpenChange(false)">
  <mat-sidenav
    [mode]="drawerMode$ | async"
    [opened]="menuOpened$ | async"
    (openedChange)="menuOpenChange($event)"
    hrhCollapsibleMenu
    [collapsed]="menuCollapsed$ | async"
  >
    <mat-nav-list>
      <a *hrhOnlyAuthenticated mat-list-item routerLink="/shopping">
        <mat-icon matListIcon hrhMenuItemIcon>shopping_cart</mat-icon>
        <span *hrhMenuItemContent>Shopping</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
