<hrh-shell-layout>
  <ng-container hrhShellBeforeTitle>
    <button *ngIf="showBack" class="menu-button" mat-icon-button (click)="back()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <div class="menu-buttons">
      <ng-container *cdkPortalOutlet="menuButtons"></ng-container>
    </div>
  </ng-container>

  <ng-container hrhShellAtTheEnd>
    <button
      *ngIf="updateAvailable$ | async"
      class="update"
      mat-icon-button
      matTooltip="Application update available, click for install or refresh manually"
      (click)="handleRefresh()"
    >
      <mat-icon>system_update</mat-icon>
    </button>

    <hrh-user-menu></hrh-user-menu>
  </ng-container>

  <hrh-side-menu-shell hrhShellContent (menuButtonsPortal)="menuButtons = $event"></hrh-side-menu-shell>
</hrh-shell-layout>
