@import 'src/sass/utils';

:host {
  @include toolbar-and-body;
}

.menu-button {
  margin-left: -1 * $unit;
}

.sidebar {
  height: 100%;
  width: 100%;
}

.fill {
  flex: 1;
}

.rotate-icon {
  transform: rotate(90deg);
}

.nav-list {
  padding: 0;
}
