@import 'src/sass/utils';

:host {
}

.menu-button {
  &:first-of-type {
    margin-left: -1 * $unit;
  }

  &:last-of-type {
    margin-right: $unit;
  }
}

.rotate-icon {
  transform: rotate(90deg);
}

.nav-list {
  padding: 0;
}

.update {
  margin-right: $unit;
}

.sidebar {
  height: 100%;
}
