<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>HRH</h1>

    <a *hrhOnlyAuthenticated mat-button routerLink="shopping">Shopping</a>

    <div class="fill"></div>

    <ng-template hrhOnlyBrowser else="spinner">
      <ng-container *ngIf="profile$ | async as profile">
        <ng-container *ngIf="profile.authenticated; else loginTemplate">
          <div ngPreserveWhitespaces>{{ profile.firstName }} {{ profile.lastName }}</div>
          <button mat-icon-button [mat-menu-trigger-for]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logout()">Logout</button>
          </mat-menu>
        </ng-container>
        <ng-template #loginTemplate>
          <button mat-flat-button (click)="login()" color="accent">Login</button>
        </ng-template>
      </ng-container>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>

{{ test$ | async | json }}

<router-outlet></router-outlet>
