@import 'src/sass/utils';

:host {
}

.toolbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.menu-button {
  &:first-of-type {
    margin-left: -1 * $unit;
  }

  &:last-of-type {
    margin-right: $unit;
  }
}

#navigation-progress-bar {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 2;

  top: 8 * $unit;

  @include xsmall {
    top: 7 * $unit;
  }
}

.sidebar {
  height: 100%;
  width: 100%;
  padding-top: 8 * $unit;

  .mat-drawer {
    top: 8 * $unit;
  }

  @include xsmall {
    padding-top: 7 * $unit;

    .mat-drawer {
      top: 7 * $unit;
    }
  }
}

.fill {
  flex: 1;
}

.rotate-icon {
  transform: rotate(90deg);
}

.nav-list {
  padding: 0;
}

.update {
  margin-right: $unit;
}
