@import 'node_modules/@angular/material/theming';
@import 'src/sass/utils';

@mixin message($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  .message {
    &.mat-primary .mat-card {
      background-color: mat-color($primary, lighter);
      color: mat-color($primary, lighter-contrast);
    }

    &.mat-accent .mat-card {
      background-color: mat-color($accent, lighter);
      color: mat-color($accent, lighter-contrast);
    }

    &.mat-warn .mat-card {
      background-color: mat-color($warn, lighter);
      color: mat-color($warn, lighter-contrast);
    }
  }
}
