@import '~@angular/material/theming';
@import 'src/app/sdk/layout/colored-dialog-header.theme';

@include mat-core();

$hrh-primary: mat-palette($mat-blue-gray);
$hrh-accent: mat-palette($mat-amber);
$hrh-warn: mat-palette($mat-red);

$hrh-theme: mat-light-theme($hrh-primary, $hrh-accent, $hrh-warn);

@include angular-material-theme($hrh-theme);
@include colored-dialog-header($hrh-theme);
