.ssr-spinner._mat-animation-noopable.mat-progress-spinner.mat-progress-spinner-indeterminate-animation[mode='indeterminate'] {
  animation: mat-progress-spinner-linear-rotate 2000ms linear infinite;

  circle {
    transition-property: stroke;
    animation-duration: 4000ms;
    animation-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
    animation-iteration-count: infinite;
  }
}
