@mixin xsmall {
  @media (max-width: 599.99px) {
    @content;
  }
}

@mixin viewport-padding {
  padding: 2 * $unit;
}

@mixin limited-viewport {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

@mixin small-viewport {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
