@import 'node_modules/@angular/material/theming';
@import 'src/sass/utils';

@mixin colored-dialog-header($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  .mat-card .mat-card-title-group.dialog-colored-header {
    margin: -2 * $unit -2 * $unit 2 * $unit;

    padding-top: 2 * $unit;
    padding-left: 2 * $unit;
    padding-right: 2 * $unit;

    border-top-left-radius: $unit / 2;
    border-top-right-radius: $unit / 2;

    &.mat-primary {
      background-color: mat-color($primary);
      color: mat-color($primary, default-contrast);
    }

    &.mat-accent {
      background-color: mat-color($accent);
      color: mat-color($accent, default-contrast);
    }

    &.mat-warn {
      background-color: mat-color($warn);
      color: mat-color($warn, default-contrast);
    }
  }
}
