@import 'node_modules/@angular/material/theming';
@import 'src/sass/utils';

@mixin colored-dialog-header-colors($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  &.mat-primary {
    background-color: mat-color($primary, darker);
    color: mat-color($primary, darker-contrast);
  }

  &.mat-accent {
    background-color: mat-color($accent);
    color: mat-color($accent, default-contrast);
  }

  &.mat-warn {
    background-color: mat-color($warn);
    color: mat-color($warn, default-contrast);
  }
}

@mixin colored-dialog-header($theme) {
  .mat-card .mat-card-title-group.dialog-colored-header,
  .mat-card .mat-card-header.dialog-colored-header {
    margin: -2 * $unit -2 * $unit 2 * $unit;

    padding-top: 2 * $unit;
    padding-left: 2 * $unit;
    padding-right: 2 * $unit;

    border-top-left-radius: $unit / 2;
    border-top-right-radius: $unit / 2;

    @include colored-dialog-header-colors($theme);

    .mat-card-title {
      margin-bottom: 2 * $unit;
    }
  }

  .mat-dialog-container .mat-dialog-title.dialog-colored-header {
    margin: -3 * $unit -3 * $unit 3 * $unit;
    margin-bottom: 0;

    padding: 3 * $unit;

    @include colored-dialog-header-colors($theme);
  }
}
