@import '~@angular/material/theming';

@include mat-core();

$hrh-primary: mat-palette($mat-indigo);
$hrh-accent: mat-palette($mat-pink, A200, A100, A400);
$hrh-warn: mat-palette($mat-red);

$hrh-theme: mat-light-theme($hrh-primary, $hrh-accent, $hrh-warn);

@include angular-material-theme($hrh-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
