@import 'src/sass/components/components';
@import 'sass/theme/theme';
@import 'sass/atomic/atomic';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mat-card-header-text {
  width: 100%;
}

.mat-icon {
  user-select: none;
}
